* {
    font-family: "Raleway";
}

.big_img {
    width: 1600px;
    height: 687px;
    background-image: url(/images/png/kattarasm.png);

}

.big_img div h1 {
    font-size: 56px;
    font-weight: 700;
    line-height: 67.2px;
    text-align: center;
    color: #fff;
    padding-top: 120px;
}

.big_img div p {
    font-size: 18px;
    font-weight: 500;
    line-height: 27px;
    text-align: center;
    color: #fff;
}

.big_img div button {
    width: 260px;
    height: 60px;
    padding: 22px 56px 22px 56px;
    gap: 10px;
    opacity: 0px;
    background-color: #AE7B3C;
    color: #fff;
    border: none;
    text-align: center;
    transition: all 1.5s;
    margin-left: 670px;
    margin-top: 50px;
}

.big_img div button:hover {
    cursor: pointer;
    transform: scale(105%);
}

.big_img div hr {
    width: 1200px;
    height: 1px;
    gap: 0px;
    opacity: 0.4px;
}
.big_img-h1{
font-size: 46px;
font-weight: 600;
line-height: 57.5px;
text-align: center;
margin-top: 140px;
}
.card{
width: 384px;
height: 458px;
border-left: 1px solid #282B22;
padding-left: 30px;
}
.cards{
display: flex;
}