* {
    font-family: "Raleway";
}
.container{
    max-width: 1200px;
    margin: 0 auto;
    }
    .contayner{
    max-width: 1600px;
    margin: 0 auto;
    }

.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;

    div {
        display: flex;
        align-items: center;
        transition: all 2s;
        padding: 20px;


        :hover {
            cursor: pointer;
            color: aqua;
            ;
        }

        .p {
            font-size: 16px;
            font-weight: 500;
            line-height: 16px;
            color: #000;
        }
    }
}

.big_img {
    width: 1600px;
    height: 687px;
    background-image: url(/images/png/kattarasm.png);

}

.big_img div h1 {
    font-size: 56px;
    font-weight: 700;
    line-height: 67.2px;
    text-align: center;
    color: #fff;
    padding-top: 120px;
}

.big_img div p {
    font-size: 18px;
    font-weight: 500;
    line-height: 27px;
    text-align: center;
    color: #fff;
}

.big_img div button {
    width: 260px;
    height: 60px;
    padding: 22px 56px 22px 56px;
    gap: 10px;
    opacity: 0px;
    background-color: #AE7B3C;
    color: #fff;
    border: none;
    text-align: center;
    transition: all 1.5s;
    margin-left: 670px;
    margin-top: 50px;
}

.big_img div button:hover {
    cursor: pointer;
    transform: scale(105%);
}

.big_img div hr {
    width: 1200px;
    height: 1px;
    gap: 0px;
    opacity: 0.4px;
}

.big_img-h1 {
    font-size: 46px;
    font-weight: 600;
    line-height: 57.5px;
    text-align: center;
    margin-top: 140px;
}

.card {
    width: 384px;
    height: 458px;
    border-left: 1px solid #282B22;
    padding-left: 30px;
    padding-right: 29px;
}

.cards {
    display: flex;
}
.block{
    width: 1600px;
    height: 688px;
    background-color: #3D4A39;
    }
.block h1{
text-align: center;
color: #fff;
font-size: 46px;
font-weight: 600;
line-height: 57.5px;
padding-top: 100px;
}
.block__card{
display: flex;
padding-left: 314px;
margin-top: 70px;
gap: 340px;
}
.block__card p{
    font-size: 24px;
    font-weight: 500;
    line-height: 31.2px;
    text-align: center;
    color: #fff;
}

@media screen and (max-width:992px) {
    .container {
        max-width: 992px;
    }

    .big_img {
        background-size: cover;
    }

    .nav {
        justify-content: space-between;
        justify-content: space-around;
    }

    .nav div {
        display: flex;
    }

    .card {
        width: 300px;
    }

    .cards {
        margin-left: 130px;
    }

    .big_img-h1 {
        font-size: 46px;
        font-weight: 600;
        line-height: 57.5px;
        margin-left: 230px;
    }

    .big_img div h1 {
        margin-right: 230px;
    }

    .big_img div p {
        margin-right: 230px;
    }

    .big_img div button {
        margin-left: 230px;
    }
}


@media screen and(max-width:768px) {
    .card img {
        padding-right: 20px;
    }
}

@media screen and(max-width:576px) {
    .cards {
        flex-wrap: wrap;
    }
}